#
# This source file is part of the Grove open-source project
#
# SPDX-FileCopyrightText: 2026 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

min-release-age=7
min-release-age-exclude[]=@next/*
min-release-age-exclude[]=fast-uri
min-release-age-exclude[]=js-yaml
min-release-age-exclude[]=next
min-release-age-exclude[]=nanoid
min-release-age-exclude[]=postcss
min-release-age-exclude[]=serialize-javascript
min-release-age-exclude[]=sharp
min-release-age-exclude[]=uuid
