#
# This source file is part of the Grove open-source project
#
# SPDX-FileCopyrightText: 2026 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

**/dist
**/build
**/coverage
**/lib
**/out
**/storybook-static
**/*.tsbuildinfo
**/.docusaurus
packages/design-system/docs/docs/api
packages/fhir/catalog/grove-fhir/*.json
!packages/fhir/catalog/grove-fhir/source-ref.json
packages/fhir/catalog/grove-fhir-conformance/*.json
.parcel-cache
node_modules

packages/fhir/.fhir-cache/
